.AboutMe {
  @include bg(lighten(#e6dacc, 10));
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.AboutMe__container {
  @include flex(row, flex-start, flex-start);
  @include tablet {
    @include flex(column, flex-start, flex-start);
  }
  @include mobile {
    @include flex(column, flex-start, flex-start);
  }
}

.AboutMe__image {
  flex-basis: 55%;
  height: 450px;
  @include tablet {
    flex-basis: 200px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 1rem auto;
  }
  @include mobile {
    flex-basis: 200px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 1rem auto;
  }
}

.AboutMe__text {
  padding: 0 2rem;
  p {
    margin-bottom: 1rem;
  }
}

.AboutMe__skills {
  @include flex(row, center, flex-start, wrap);
  width: 100%;
  margin: 1rem 0;
  .skill {
    @include border(1px, solid, $lightblue, 4px);
    @include bg($lightblue);
    padding: 0.75rem;
    margin: 0.5rem;
    color: #fff;
  }
}

.AboutMe__cta {
  button {
    @include border(3px, solid, $darkblue);
    color: $darkblue;
    margin: 1rem;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: $root-line-height * 1rem;
    text-shadow: none;
    font-weight: 400;
  }
  button:first-child {
    margin-left: 0;
  }
  button:hover,
  button:focus {
    @include bg($darkblue);
    color: #fff;
  }
}