.Features {
  height: 100%;
  width: 100%;
}

.Features__container {
  @include flex(row, flex-start, flex-start, wrap);
}

.Features__feature {
  @include flexCol(6, 12, 1rem, 1rem);
  @include padd(1rem, 1rem, 1rem, 1rem);
  @include flex(row, flex-start, flex-start, nowrap);
  height: 200px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  transition: all 100ms ease-in-out;
  @include tablet {
    @include flexCol(12, 12, 0, 0);
  }
  @include mobile {
    @include flexCol(12, 12, 0, 0);
    @include flex(column, center, center, nowrap);
    height: auto;
  }
}

.feature__image {
  @include flex(row, center, center);
  height: 100%;
  flex-basis: 20%;
  span {
    font-size: 7rem;
    color: $darkblue;
  }
  @include mobile {
    display: block;
    margin-bottom: 1rem;
  }
}

.responsive {
  span {
    font-size: 9rem;
  }
}

.feature__details {
  @include flex(column, center, center);
  margin: 0 1rem;
  width: 100%;
  height: 100%;
  h5 {
    font-family: $roboto-c;
    letter-spacing: 0;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    line-height: $root-line-height * 1.75rem;
  }
}