.Hero {
  background: linear-gradient(
    to top,
    rgba(#226b80, 0.65) 0%,
    #f7f3ee 40%,
    #f7f3ee 100%
  );
  height: 100vh;
  width: 100%;
}

.Hero__container {
  @include flex(column, center, center);
  height: 100%;
  h1 {
    @include fontSize(7rem);
    text-transform: capitalize;
    color: $darkblue;
    font-family: dulcelin;
  }
  h3.subtitle {
    color: lightn(#000, 10);
    margin-bottom: 2rem;
  }
  button {
    @include borderTest($lightblue);
    @include bg($lightblue);
    color: #fff;
    width: 175px;
  }
  @include tablet {
    h1 {
      @include fontSize(5.5rem);
    }
  }
  @include mobile {
    h1 {
      @include fontSize(4.5rem);
    }
    h3.subtitle {
      visibility: hidden;
    }
  }
}
