.Portfolio {
  height: 100%;
}

.Portfolio__toolbar {
  @include flex(row, center, center);
  width: 100%;
  height: 3rem;
  overflow: hidden;
  margin-bottom: 1rem;
  button {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    margin: 0.5rem;
    transition: all 100ms ease-in-out;
    text-transform: capitalize;
    font-weight: 400;
  }
  button:hover,
  button:focus {
    @include bg($lightblue);
    @include border(1px, solid, $lightblue);
    color: #fff;
  }
  @include mobile {
    height: auto;
    @include flex(row, center, center, wrap);
  }
}

.Portfolio__container {
  @include flex(row, flex-start, flex-start, wrap);
  min-height: 302px;
  margin-bottom: 2rem;
}

.Portfolio__portfolio {
  @include flexCol(4, 12, 0, 0);
  @include border(#ccc);
  position: relative;
  height: 300px;
  overflow: hidden;
  transition: all 400ms ease-in-out;
  &:hover {
    .portfolio__image {
      transform: scale(1.5);
    }
    .portfolio__caption {
      bottom: 0px;
    }
  }
  &.shrink {
    flex-basis: 0%;
    height: 0px;
  }
  @include tablet {
    @include flexCol(6, 12, 0, 0);
  }
  @include mobile {
    @include flexCol(12, 12, 0, 0);
  }
}

.portfolio__image {
  transition: all 250ms ease-in-out;
  transform: scale(1);
  transform-origin: 50% 0%;
  img {
    height: 100%;
    width: 100%;
  }
}

.portfolio__caption {
  @include flex(column, center, center);
  position: absolute;
  bottom: -300px;
  left: 0;
  height: 300px;
  width: 100%;
  color: #fff;
  background-color: rgba(#000, 0.75);
  z-index: 48;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  h5 {
    margin-bottom: 1rem;
  }
}

.caption__buttons {
  @include flex(row, center, center);
  button {
    @include border(2px, solid, white, 50%);
    @include flex(row, center, center);
    height: 3rem;
    width: 3rem;
    margin: 1rem;
    color: #fff;
  }
  button:hover {
    @include border(2px, solid, $darkblue, 50%);
    @include bg($darkblue);
    color: #fff;
  }
}
