.Stats {
  @include bg($lightblue);
  color: #fff;
  height: 100%;
  padding: 3rem 0;
}

.Stats__container {
  @include flex(row, center, center);
  height: 100%;
  @include mobile {
    @include flex(column, center, center);
  }
}

.stat {
  @include flexCol(3, 12, 0.5rem, 0.5rem);
  @include flex(column, center, center);
  height: 100%;
  text-align: center;
  svg {
    margin-bottom: 1rem;
  }
  h5 {
    font-size: 3.25rem;
    line-height: 3.25rem * $root-line-height;
    font-weight: 700;
  }
  @include mobile {
    svg {
      margin-bottom: 0.5rem;
    }
    margin: 2rem 0;
  }
}