.Testimonial {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.Testimonial>.container {
  overflow: hidden;
}

.Testimonial__container {
  @include flex(row, center, center);
  width: 200%;
  padding-top: 2rem;
  transform: translateX(0%);
  transition: all 400ms ease-in-out;
  @include mobile {
    @include flex(column, center, center);
    width: 100%;
  }
}

.Testimonial__container.switch {
  transform: translateX(-50%);
}

.testimonial {
  @include flexCol(6, 12, 1rem, 1rem);
  @include borderTest(#ddd);
  height: 200px;
  padding: 2rem;
  position: relative;
  @include mobile {
    @include flexCol(12, 12, 1rem, 1rem);
    margin: 1rem 0;
  }
}

.testimonial__icon {
  @include border(3px, solid, $lightblue);
  @include bg($lightblue);
  @include flex(row, center, center);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  position: absolute;
  top: -1rem;
  left: 1rem;
  z-index: 48;
  color: white;
}

.testimonial__text {
  margin: 1rem 0 2rem;
}

.testimonial__person {
  img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

.testimonial__person {
  @include flex(row, center, flex-start);
}

.Testimonial__control {
  @include flex(row, center, center);
  margin: 4rem 0 2rem;
  button {
    width: 2rem;
    height: 0.5rem;
    padding: 0;
    margin: 0 0.125rem;
    border: 1px solid $lightblue;
  }
  @include mobile {
    display: none;
  }
}

.control.active {
  border: 4px solid $lightblue;
}